.h1{
  padding: 20px;
}

.note{
  padding-left: 40px;
}

.Language-List{
  padding-left: 40px;
  size: 40px;
}

.card-header{
  font-size: small;
}

.answer{
  font-size: medium;
  font-family: "Gill Sans", sans-serif;
}

